*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: #efe9f0;
    display: flex;
    flex-direction: column;
}

.profile-photo img {
    width: 2.5rem;
    overflow: hidden;
    border-radius: 50%;
}


/*============================
            Header
============================== */
nav {
    width: 100%;
    background: #56205e;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 0.7rem 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    align-items: center;
    width: 15vw;
    padding-right: 2rem;
    margin-left: 2.7rem;
}

.logo label {
    color: white;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.logo #icon {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}


.search-form {
    background-color: #e3e3e3;
    border-radius: 2rem;
    padding: 0.6rem 0.1rem;
    display: flex;
}

.search-form #search-bar {
    background-color: transparent;
    width: 15vw;
    margin-left: 1rem;
    color: #242424;
    border: none;
}

.search-form #search-button {
    background-color: transparent;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
}

#search-bar::placeholder {
    color: #757575;
    font-size: 0.95rem;
}

.items {
    display: flex;
    align-items: center;
}

.items a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    font-weight: bold;
}

.items i {
    padding: 0 0.5rem;
    overflow: hidden;

}

/*============================
            Main
============================== */

main {
    display: flex;
    gap: 2rem;
    padding: 6rem 5rem;
    margin-left: 5vw;
    min-height: 89.5vh;

}

/*===================
       Left Side
===================== */
.left {
    height: max-content;
    position: sticky;
    top: 5.4rem;
}

/*--------Side Bar--------*/
.left .groups-bar {
    background-color: white;
    border-radius: 10px;
    width: 15rem;

}
.side-bar-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 0.5s ease; /*transition on hover*/
    position: relative;
    text-decoration: none;
    font-size: 0.9rem;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #efe9f0;

}

.side-bar-item:first-child {
    border-radius: 10px 10px 0 0;
    cursor: text;

}

.side-bar-item:last-child {
    border-radius: 0 0 10px 10px;
}

.groups-bar span { /*spans of the items*/
    margin-left: 1rem;
    display: flex;
    position: relative;
    align-items: center;
    color: #808080;
}

.groups-bar h3 {
    margin-left: 0.7rem;
    font-weight: normal;
}


.side-bar-item:hover span {
    color: #542d5e;
}

.side-bar-item:hover{
    background-color: rgba(121, 51, 141, 0.56);

}
.side-bar-item:first-child:hover {
    background-color: white;

}
.side-bar-item:first-child:hover span {
    color: #808080;

}

/*=====================
           Right
 =====================*/
.right {
    height: max-content;
    position: sticky;
    top: 5.4rem;


}
.settings-menu {
    width: 45rem;

}

.settings-container {
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 1rem 1.5rem 2rem 1.5rem;
}

.settings-container .menu-header {
    border-bottom: solid thin #e3e3e3;
    padding: 1.5rem 1rem 1rem 1rem;

}

.settings-container .menu-header h3 {
    font-size: 1.6rem;
    font-weight: normal;
}

.settings-container .menu-header p {
    margin-top: 0.4rem;
    font-size: 0.95rem;
    font-weight: lighter;
    color: #888888;
}

.settings-container .sub-header h3 {
    font-size: 1.2rem;
}

.settings-container label {
    font-size: 0.95rem;
    color: #464545;
}

.settings-container .change-info {
    padding: 1.2rem 1rem;
    border-bottom: solid thin #e3e3e3;
}


.sub-section {
    padding: 2rem 1rem;
    border-bottom: solid thin #e3e3e3;
}

.sub-section input {
    margin-top: 0.5rem;
    margin-left: 2rem;
    width: 50%;
    padding: 0.2rem 0.5rem;
    border-radius: 0.1rem;
    border: solid thin #525252;
}

#linkedin-link, #linkedin-mail {
    width: 90%;
}

.sub-section label {
    font-size: 0.95rem;
    margin-left: 2rem;
}

.last-sub-child {
    padding-bottom: 1.5rem;
    border-bottom: none;
}

.sub-section:last-child {
    margin-bottom: -0.5rem;
}

.settings-footer {
    padding: 1.5rem 2.5rem;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    border-top: solid thin #e3e3e3;
}

.settings-footer #save {
    background-color: #7c15b0;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    border: solid #763380;
    font-size: 0.9rem;
    color: #e3e3e3;
    cursor: pointer;
    float: right;
}

.settings-footer #save:hover {
    background-color: #651d81;

}

/*=========PHOTOS==========*/
#edit-photos {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 3rem
}

.upload-photo input {
    width: 100%;
    border: none;
    padding-left: 0;
}

.upload-photo .sub-section {
    padding: 0.8rem 1rem;

}

.display {
    border-radius: 0.5rem 0.5rem 0 0;
    border: solid thin #dadada;
    background-color: #f6f6f6;
}

#edit-photos .profile-photo {
    margin-top: -1rem;
    margin-left: 7%;
}

#edit-photos .profile-photo img {
    width: 3.5rem;
    border: solid white;
}

.cover {
    display: flex;
    align-items: center;
}

.cover-photo {
    width: 18rem;
    height: 6rem;
    border-radius: 0.2rem;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

/*=========OTHER INFO==========*/


.sub-section textarea {
    margin-top: 0.5rem;
    margin-left: 2rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.1rem;
    width: 90%;
    height: 3rem;
    font-family: sans-serif;
    overflow-y: auto;
    resize: none;
}


/*============================
            Footer
==============================*/
.page-footer {
    width: 100%;
    background-color: #56205e;
    color: white;
    font-size: 1.1rem;

}
.page-footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    font-size: 1rem;
}

